@model CruscottoIncidenti.Application.Users.ViewModels.UpdateUserViewModel

<div class="modal-header">
    <h5 class="modal-title">Edit User</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

@using (Ajax.BeginForm("UpdateUser", "User", new AjaxOptions { UpdateTargetId = "userModalContent", 
    OnSuccess = "onSuccessModalAction", OnFailure = "onFailureModalAction" }))
{
    <div class="modal-body">
        @Html.AntiForgeryToken()

        <div class="mb-2">
            @Html.ValidationMessage("IncorrectUpdateUser", string.Empty, new { @class = "text-danger" })
        </div>

        @Html.HiddenFor(m => m.Id, new { @class = "d-none" })

        <div class="row mb-3">
            <div class="col-6">
                @Html.LabelFor(m => m.Username, new { @class = "form-label fw-bold" })
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control mw-100", placeholder = @Html.DisplayNameFor(m => m.Username), @disabled = "disabled" })
                @Html.ValidationMessageFor(m => m.Username, string.Empty, new { @class = "text-danger" })
            </div>
            <div class="col-6 mt-5">
                <div class="form-switch">
                    @Html.CheckBoxFor(m => m.IsPasswordEnabled, new { @class = "form-check-input mw-100", role = "switch", id = "changePassword" })
                    @Html.LabelFor(m => m.IsPasswordEnabled, new { @class = "form-label fw-bold" })
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6">
                @Html.LabelFor(m => m.FullName, new { @class = "form-label fw-bold" })
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control mw-100", placeholder = @Html.DisplayNameFor(m => m.FullName) })
                @Html.ValidationMessageFor(m => m.FullName, string.Empty, new { @class = "text-danger" })
            </div>
            <div class="col-6">
                @Html.LabelFor(m => m.Password, new { @class = "form-label fw-bold" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control mw-100", placeholder = @Html.DisplayNameFor(m => m.Password) })
                @Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6">
                @Html.LabelFor(m => m.Email, new { @class = "form-label fw-bold" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control mw-100", placeholder = @Html.DisplayNameFor(m => m.Email) })
                @Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "text-danger" })
            </div>
            <div class="col-6">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label fw-bold" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control mw-100", placeholder = @Html.DisplayNameFor(m => m.ConfirmPassword)  })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, string.Empty, new { @class = "text-danger" })
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6">
                @Html.LabelFor(m => m.Roles, new { @class = "form-label fw-bold" })
                @Html.ListBoxFor(m => m.Roles, (IEnumerable<SelectListItem>)ViewBag.AllRoles, new { @class = "selectpicker form-control mw-100" })
                @Html.ValidationMessageFor(m => m.Roles, string.Empty, new { @class = "text-danger" })
            </div>
            <div class="col-6 mt-4">
                <div class="form-switch">
                    @Html.CheckBoxFor(m => m.IsEnabled, new { @class = "form-check-input mw-100", role = "switch" })
                    @Html.LabelFor(m => m.IsEnabled, new { @class = "form-label fw-bold" })
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-pen"></i> Edit
            <span class="spinner-border spinner-border-sm text-light d-none" />
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>
}

<script>
    checkIfPasswordChangeIsEnable();

    $("#changePassword").on('change', function (e) {
        checkIfPasswordChangeIsEnable();
        if($(this).not(':checked')) {
            $("#Password, #ConfirmPassword").removeClass("input-validation-error");

            $("#Password, #ConfirmPassword")
                .closest(".mb-3, .form-group")
                .find(".field-validation-error")
                .hide();
        }
    });

    function checkIfPasswordChangeIsEnable() {
        if ($('#changePassword').is(':checked'))
            $("#Password, #ConfirmPassword").prop("disabled", false);
        else
            $("#Password, #ConfirmPassword").prop("disabled", true);
    }
</script>