<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CruscottoIncidenti - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/dataTables")
    @RenderSection("Styles", required: false)
</head>
<body class="d-flex flex-column">
    @Html.Partial("_Navbar")
    <div class="d-lg-flex flex-fill">
        <div class="col">
            <main class="container">
                @RenderBody()
            </main>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/dataTables")
    @Scripts.Render("~/bundles/common")
    @RenderSection("Scripts", required: false)

    <script>
        $(function () {
            $("a.nav-link").each(function () {
                if ($(this).attr("href") === location.pathname)
                    $(this).addClass("active");
            });

            if (location.pathname === "/Incident") {
                $("a[href='/']").addClass("active");
            }
        });
    </script>
</body>
</html>