
@model CruscottoIncidenti.Application.User.ViewModels.LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="row justify-content-center">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "col-12 bg-white p-5 rounded", id = "loginForm" }))
        {
            <div class="px-5">
                @Html.AntiForgeryToken()

                <h1 class="text-center mb-4">Cruscotto Incidenti</h1>
                <h3 class="text-center pb-4 font-weight-normal">Authentication</h3>

                @Html.ValidationMessage("IncorrectLogin", string.Empty, new { @class = "text-danger" })
                <div class="pt-3">
                    <div class="input-group mb-1 mw-100">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control mw-100", placeholder = @Html.DisplayNameFor(m => m.Username) })
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Username, string.Empty, new { @class = "text-danger" })
                </div>

                <div class="pt-3 pb-2">
                    <div class="input-group mb-1">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control mw-100", placeholder = @Html.DisplayNameFor(m => m.Password) })
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "text-danger" })
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-lg btn-success btn-block mt-4">
                        Login
                        <span class="spinner-border spinner-border-sm text-light d-none" />
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('form').on('submit', function () {
                $('.spinner-border').removeClass('d-none');
            });
        });
    </script>
}